#mainContext {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    background-image: url("./../../Assets/Sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* width: auto; */
    height: 100vh;
    color: white;
}

.searchBox {
    text-align: center;
    width: 17%;
    position: absolute;
}

.searchBox input {
    width: 100%;
    /* height: 1rem; */
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 977px) {
    #mainContext {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .searchBox {
        top: 11px;
        left: 10px;
        width: auto;
    }

}