#mainContext {
    display: flex;
    flex-direction: row;
    background-image: url("../../Assets/Sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* width: auto; */
    height: 100vh;
    color: white;
}


@media only screen and (max-width: 977px){
   #mainContext {
       flex-direction: column;
       justify-content: space-evenly;
   }
}